:root{
    --primary-color:#e12323;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    background-attachment: fixed;
    color:#999;  /*grey color*/
    overflow: auto;
    min-width: 100%;
}
p{
    font-size: 1.1rem;
    color: #fff;
}
h1, h2, h3,h4{ 
    color: #fff;
    font-size: 1.9rem;
    padding: 0;
    font-weight: 700;
    margin: 0 0 1rem 0;
}
.btn{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
.btn:hover{
    opacity:0.9;
}

img{
    width:100%;
}
.changeWidth{
    min-width: 100%;
    overflow: hidden;
}
.container{
    padding: 4rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.container img{
    height: auto;
    margin-top: 2rem;
}
.form{
    margin-top: 1rem;
}
form{
    margin-top: 10rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form input{
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    outline: none;
}
form input::placeholder{
    font-size: 0.9rem;
}
form .btn{
    margin-top: 1rem;
    margin-left: 0;
    outline: none;
    padding: 0.8rem 1.1rem;
    font-size: 1rem;
    background-color: #d70c0c;
    }

#banner{
	height:60vh;
	position: relative;
	background-image: url(../Images/backgroundImg.jpg); 
	background-size:cover; 
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
}


.banner-top{
    display: flex;
    padding-top: 20%;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    height: 8%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index:2;
}
.banner-top img{
    position: absolute;
    width:90px;
    top:30%;
    left:0;
}
.select-language-container{
    position: absolute;
    top:30%;
    right:0;
    display: flex;
    width: 12.15rem;
}
.select-language-div{
    width:6.2rem;
    text-align: center;
    margin-right: 0.5rem;
    padding: 0.1rem 0.4rem;
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.select-language-div label{
    padding-top: 0.2rem;
    padding-right: 0.3rem;
}

.select-language-div select{
        width:8rem;
        height: 5rem;
        font-size: 1rem;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    -webkit-appearance: none; /*for removing default dropdown of a select tag*/
    -moz-appearance: none;
}

.select-language-container i{
    color: #fff;
}
.select-language-container .btn{
    background:var(--primary-color);
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.banner-content{
    position: relative;
    z-index:2;
    text-align: center;
}
hr{
    height:0.6rem;
    background-color:rgb(38, 36, 36);
    outline: none;
    border: none;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
    height:auto;
    text-align: center;

}
.FAQ h1, form{
    margin: 1rem 0.5rem;
}
.FAQ .Questions{
    background-color:rgb(55, 54, 54);
    height: 3rem;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
.FAQ .ans{
    background-color:rgb(55, 54, 54);
    height: auto;
    margin-top: 0.13rem;
    padding: 1.5rem;
    text-align: left;
    margin-bottom: 0;
}
.closed{
    display: none;
}
.rotate{
    transform:rotate(45deg);
}
footer{
    padding: 2rem;
	color: rgb(116, 114, 114);
    overflow: auto;
    right:0;
    bottom: 0;
}

.footer p {
	color: rgb(116, 114, 114);
	font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
ul {
    display: flex;
    flex-flow: wrap column;
    column-gap: 3rem;
    max-height: 300px; /* Limit height to whatever you need */
  }

.footer a{
	color: rgb(116, 114, 114);
	font-size: 1rem;
    text-decoration: none;
}
.footer li {
	line-height: 2.1;
    list-style: none;
}
.footer .select-language-div {
	margin: 2rem 0;
    width: 9rem;
    height:3.6rem;
	color: #999;
	border: 1px solid rgb(116, 114, 114);
	padding: 1.5rem 1rem;
	border-radius: 3px;
}
.footer .select-language-div label{
    padding-top: 0.4rem;
    padding-right: 0.5rem;
}
.footer .select-language-div select{
    width: 10rem;
    color: #999;
    font-size: 1.2rem;
}
@media (min-width:500px){
        h1, h2, h3,h4{ 
            font-size: 2.3rem;
    }
    p{
        font-size: 1.4rem;
    }
    .container{
        padding: 4rem 2rem;
        /* width: 100vw; */
        /* width: 1400px; */
    }

    #banner{
        height:auto;
    }
    .FAQ{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 3rem 0;
        height:auto;
        text-align: center;
    
    }
    
    .FAQ .Questions{
        background-color:rgb(55, 54, 54);
        height: 3.5rem;
        margin-top: 0.8rem;
        padding: 0 1.5rem;
    }
    .FAQ p{
        font-size: 1.2rem;
    }
    .FAQ .ans{
        background-color:rgb(55, 54, 54);
        height: auto;
        margin-top: 0.13rem;
        padding: 1.5rem;
        text-align: left;
        margin-bottom: 0;
    }
    footer{
        padding: 4rem;
    }
    .footer a{
        font-size: 0.8rem;
      }
    ul {
        display: flex;
        flex-flow: wrap column;
        column-gap: 2rem;
        max-height: 280px; /* Limit height to whatever you need */
      }
    .form p{
        font-size: 1.1rem;
    }
}

@media (min-width:769px){
    h1,h2,h3,h4{
        font-size: 2.8rem;
    }
    p{
        font-size: 1.5rem;
    }
    .form{
        margin-top: 1.2rem;
        padding: 0 6.95rem;
    } 
    .container{
        padding: 3rem;
    }
    .container img{
        width:500px;
        height: 260px;
    }
#banner{
    height: 120vh;
}
.banner-content{
    padding: 3rem;
}
    #banner::after{
        box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
    }
    .FAQ{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
        height:auto;
        text-align: center;
    
    }
    .FAQ h1, form{
        margin: 1rem 0.5rem;
    }
    .FAQ .Questions{
        background-color:rgb(55, 54, 54);
        width: 80%;
        margin: 0 auto;
        height: 3.5rem;
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
    
    }
    .FAQ .ans{
        background-color:rgb(55, 54, 54);
        height: auto;
        width: 80%;
        margin: 0 auto;
        margin-top: 0.13rem;
        padding: 1.5rem;
        text-align: left;
        margin-bottom: 0;
    }
    ul {
        display: flex;
        flex-flow: wrap column;
        column-gap: 2rem;
        max-height: 140px; /* Limit height to whatever you need */
      }
      .footer a{
        font-size: 2rem;
      }
}
@media only screen and (min-width:950px){
    h1, h2, h3,h4{ 
        font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
    .container{
        padding: 3rem;
    }
        .container img{
            width:450px;
            height: 300px;
            margin:0 3rem;
            min-width: 60%;
        }
        form{
            
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
        }
        form input{
            width: 30rem;
            padding: 1.2rem;
            font-size: 1.2rem;
            outline: none;
            /* text-align: center; */
            /* float: left; */
        }
        form input::placeholder{
            font-size: 1.2rem;
        }
        form .btn{
            margin-top: 0;
            margin-left: 0;
            outline: none;
            padding: 1.3rem 1rem;
            font-size: 1.26rem;
            background-color: #d70c0c;
            }
            .banner-top{
                padding-top: 15%;
                width: 88%;
                margin: 0 auto;
                height: 8%;
                position: relative;
                justify-content: space-between;
                align-items: center;
                z-index:2;
            }
            .banner-top img{
                position: absolute;
                width:150px;
                top:15%;
                left:0;
            }
            .select-language-container{
                position: absolute;
                top:15%;
                right:0;
                display: flex;
                width: 15rem;
            }
            .select-language-div{
                width:6.9rem;
                text-align: center;
                margin-right: 2rem;
                padding: 0.1rem 0.4rem;
                height: 2.6rem;
                border: 1px solid #fff;
                border-radius: 3px;
                display: flex;
                align-items: center;
            }
            .select-language-div label{
                padding-top: 0.2rem;
                padding-right: 0.3rem;
            }
            .select-language-div i{
                font-size: 1rem;
            }
            .select-language-div select{
                    width:8rem;
                    height: 5rem;
                    font-size: 1rem;
                background: none;
                color: #fff;
                border: none;
                outline: none;
                -webkit-appearance: none; /*for removing default dropdown of a select tag*/
                -moz-appearance: none;
            }
            
            .select-language-container i{
                color: #fff;
            }
            .select-language-container .btn{
                background:var(--primary-color);
                padding: 0.55rem 1.2rem;
                cursor: pointer;
            }
        
    .informative-sections{
        display: flex;
        flex-direction: row;
        padding: 6rem 1rem;
    }
    .download-section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .kids-section{
display: flex;
flex-direction: row-reverse;
    }
    .text-section{
        text-align: left;
        min-width:40%;
        margin: 0 5rem 0 3rem;
    }
    .FAQ{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;
        height:auto;
        text-align: center;
    
    }
    .FAQ p{
        font-size: 1.5rem;
    }
    
    .FAQ .Questions{
        background-color:rgb(55, 54, 54);
        width: 60%;
        margin: 0 auto;
        height: 4rem;
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        /* margin: 0; */
    
    }
    .FAQ .ans{
        background-color:rgb(55, 54, 54);
        /* width: 100%; */
        /* width: 1400px; */
        height: auto;
        width: 60%;
        margin: 0 auto;
        margin-top: 0.13rem;
        padding: 1.5rem;
        /* line-height: 2.1rem; */
        text-align: left;
        margin-bottom: 0;
    }
    ul {
        display: flex;
        flex-flow: wrap column;
        column-gap: 0.5rem;
        max-height: 150px; /* Limit height to whatever you need */
      }
      footer{
        padding: 4rem 10rem;
    }
      .footer a{
        font-size: 0.8rem;
      }
      .form p{
        font-size: 1.1rem;
    }
    
}



